@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Manrope';
  src: url('/fonts/manrope-700-latin.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'TeX Gyre Adventor';
  src: url('/fonts/tex-gyre-adventor-regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'TeX Gyre Adventor';
  src: url('/fonts/tex-gyre-adventor-bold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700 900;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body,
  body * {
    font-family: 'TeX Gyre Adventor', Arial, sans-serif !important;
  }

  .quote-nav-button {
    font-family: 'Manrope', 'TeX Gyre Adventor', Arial, sans-serif !important;
  }
}
